<%- include ('_layouts/header') -%>

<!-- <div id="contentframe" style="position:absolute; top: 143px; right:-180px;">
<iframe src='https://webchat.botframework.com/embed/lastBot003?s=0-hvBckSGJI.LVcsmyXC0wW9WsZmgF3TvtmOgFPyyH1a0GOBjYBeNCM'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
</div> -->
<div id="contentframe" style="position:absolute; top: 143px; right:-180px;">
<iframe src='https://webchat.botframework.com/embed/paaneeerrr?s=0LdrDxwpEQM.NQJMMRVYAA5b3P1PB5TxsSnT63ejhcFqTCPcvh1MVDg'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
</div>
<%- content %>

<%- include ('_layouts/footer') -%>